name: RTL Verification

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  # Make sure CI fails on all warnings, including Clippy lints
  RUSTFLAGS: "-Dwarnings"
  TIMEOUT: 6

jobs:

  verification:
    name: Verify Select Benchmarks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        item: [c17.v, c432.v, c499.v, c1908.v, c7552.v, c880.v, c1355.v]
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build Release
        run: cargo build --release --features default && chmod +x ./bin/* ./verilog/equiv.sh
      - name: Install Yosys
        run: sudo add-apt-repository universe && sudo apt-get update && sudo apt-get install yosys
      # TODO(matth2k): Create a separate repo for this
      - name: Pull benchmarks
        uses: actions/checkout@v4
        with:
          repository: matth2k/synth-benchmarks
          path: benchmarks
      - name: Move Benchmarks
        run: mv --force benchmarks/verilog/iscas85/*.v verilog
      - name: EqMap & EquivCheck
        run: cd verilog && ../bin/eqmap ${{ matrix.item }} -f -t ${TIMEOUT} --report tmp.json tmp.v && ./equiv.sh ${{ matrix.item }} tmp.v

